h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 2em;
}
.hide-me {
  display: none;
}
.show-me {
  display: block;
}
#btns {
  height: 100vh;
  bottom: 20px;
  right: 40%;
}
.wrap-me {
  overflow: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.foot {
  height: 5%;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(148, 148, 148, 0.425);
}
.cont {
  padding: 5px;
  color: rgb(68, 68, 68);
  margin-left: 45%;
}
.rel {
  position: fixed;
  bottom: 35px;
  right: 15px;
}
#ab {
  display: inline;
}
.line {
  opacity: 0.2;
}
.back {
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.content {
  padding-top: 10%;
  line-height: 40px;
}
